<h2>Lista de Productos</h2>

<ul>
    {{#each datos}}
    <li>{{title}}</li>
    <li>{{description}}</li>
    <li>{{price}}</li>
    <li>{{thumbnail}}</li>
    <li>{{code}}</li>
    <li>{{stock}}</li>
    {{/each}}
</ul>